input {
  background-color: black;
  color: white;
}

.invalid-field {
  background-color: #7d0a0a;
}

.edited-field {
  background-color: #383838;
}

.input-wrapper {
  display: inline-block;
}

.input-wrapper label {
  display: block;
  text-transform: uppercase;
  font-size: .4em;
}

.pitch-input {
  width: 30px;
  margin-right: 2px;
}

.offset-input {
  width: 60px;
}

.volume-input {
  width: 30px;
}

.tempo-input {
  width: 45px;
  margin-right: 2px;
}
