input {
  background-color: black;
  color: white;
}

.layer-wrapper {
  background-color: rgb(40, 209, 229);
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}

.layer-wrapper:nth-of-type(odd) {
  background-color: rgb(25, 230, 227);
}

.control-wrapper {
  color: white;
  padding: 5px;
  background-color: gray;
}

.mute-control-wrapper {
  display: inline-block;
}

.mute-btn button {
  background: none;
  border: none;
  color: white;
  display: block;
}

.solo-btn button {
  background: none;
  border: none;
  color: white;
  display: block;
}

.active button {
  font-weight: bold;
  color: rgb(238, 17, 100);
}

.delete-layer {
  display: inline-block;
}

.delete-layer button {
  background: none;
  border: none;
}

.delete-layer button:after {
  font-size: 2em;
  color: black;
  content: "×"
}

.invalid-field {
  background-color: #7d0a0a;
}

.edited-field {
  background-color: #383838;
}

.input-wrapper {
  display: inline-block;
}

.input-wrapper label {
  display: block;
  text-transform: uppercase;
  font-size: .4em;
}

.pitch-input {
  width: 30px;
  margin-right: 2px;
}

.offset-input {
  width: 60px;
}

.volume-input {
  width: 30px;
  margin-right: 40px;
}

.tempo-input {
  width: 45px;
  margin-right: 2px;
}
