input {
  background-color: black;
  color: white;
}

.invalid-field {
  background-color: #7d0a0a;
}

.edited-field {
  background-color: #383838;
}

.input-wrapper {
  display: inline-block;
}

.input-wrapper label {
  display: block;
  text-transform: uppercase;
  font-size: .4em;
}
